@font-face {
    font-family: RolletteQaku;
    src: url('fonts/coolfont.ttf');
}


#map {
	z-index: 0;
	padding-left: 0px;
    position:fixed;
    top:0;
    bottom:0;
    width:100%;
}

.popup {
    color:black;
}

/*sidebar*/

#sidebar {
	z-index: 1;
	min-width: 100px;
    max-width: 250px;
    min-height: 100vh;
    margin-left:-15px;
    padding-left: 10px;
    padding-top:10px;
    border-right:2px solid #08003f;  

    background: linear-gradient(to left, #08003f, black);
    color: orange;
    transition: all 0.3s;
    position: fixed;
    text-transform: capitalize;

}

#sidebar h3 {
	font-family: RolletteQaku;
	color:orange;
	font-size: 60px;
	margin-bottom: -15px;
}
#sidebar p {
	font-family: RolletteQaku;
	font-size: 50px;
    color: orange;
 }
#sidebar a {
	font-family: arial;
    color: white;
}

#sidebar.active {
    margin-left: -250px;
}
.collapse {
	padding-left: 10px;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/*Venues*/

.venue-info.card {
    margin-bottom: 4vh;
    margin-right: -0.5vw;
    background-color: black;
    color:white; 

    margin-top: 0px;
    width: 273px;
    max-height: 273px;
    padding-top:1vh;
}

.header {
    text-align: right;
    color: orange;
}

.card-title {
    text-shadow: 1px 1px navy,
        -1px 1px navy,
        -1px -1px navy,
        1px -1px navy;
}

#venue-list .card-body {
    padding-bottom: 30px;
    max-height: 220px;
    height: 220px;

}

.venue-list {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 35px;
}


.card-body {
    max-height: 250px;
    height: 250px;
}

/*add event form*/

.event-container {

}

.add-event-form {
    margin-top: 5vh;
    margin-bottom:10vh;
    background-color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 3px solid orange;

}

.add-event-form h1 {
    font-family: RolletteQaku;
    font-size: 75px;
    text-align: center;

}

.add-event-form .btn {
    float: right;
}

#event-list {
    background-color:white;
    margin-top: 5px;
    padding-top: 10px;
    border: 5px solid orange;
}

.card {
    margin-top: 10px;
    background-color:white;
    color:black;
    border: 3px solid orange;
    width: 58vw;
    max-height: 40vh;
    padding-top:1vh;
}

/*icons*/

.favourite-icon {
    font-size:25px;
}


a {
    color:white;
}

.favourite-icon:hover {
    color: orange;
}


.favourite-glow {
    color:orange;
}

.favourite-not-glow {
    color:white;
}

.remove-icon:hover {
    color: orange;
}

.glow {
    background-color: #ffc107;
    color: black;
}

/*events*/

#interests a {
    color: navy;
}

